@media screen and (max-width:1200px){
    #welcome-section{
    display: none;
    height: 10px;
    background-color: #466995;
    border-bottom: 1px solid #466995;
    width: 100%;
    z-index: 10;
    color: #fff;
    max-height: 10%;
    }
}

#welcome-section {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    width: 100%;
    z-index: 10;
    color: #fff;
    position: relative;
    top: 70px;
    weight: 1200px;
}

#navbar {
    position: fixed;
    background-color: #466995;
    width: 100%;
    z-index: 10000;
}

